<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/diary.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/buttons.css">
    <link rel="stylesheet" href="/stylesheets/vicons-font.css">
</head>
<body>
   <textarea id="<%=id%>"></textarea>
   <div class="alert">
        <p>save</p>
        <p>completed</p>
   </div>
<button class="button button--aylen button--round-l button--text-thick" id="submit">Confirm</button>
<button  class="button button--aylen button--round-l button--text-thick" id="return">Back to list</a></button>


    <!-- 脚本 -->
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/shield.js"></script>
    <script src="/javascripts/diary.js"></script>


    <script>
        $('#return').click(function(){
            window.location.href = 'diary_table'       
        })

        $('.alert').hide();
        $('#submit').click(function() {
            $('.alert').fadeIn(2000);
            function getOut() {
                $(".alert").fadeOut(1000);
            }
            setTimeout(getOut, 2000);

            var one_diary = [];
            var content = $('textarea').val();
            //对输入的内容进行转换(防止换行符出现)
            var reg = new RegExp("\n", "g");
            content = content.replace(reg, "<br />");
            one_diary.push({id: <%=id%>, content: content});
            var data = {one_diary: one_diary};
            $.ajax({
               url: '/diary',
               type: 'POST',
               data: data,
               success: function(data, status) {
                   if(status === 'success') {

                   }
               },
               error: function(data, err) {
                    
               }
            })
        })
    </script>
    <script>
        $(document).ready(function() {
                var content = '<%=diary.content%>'
                var reg = new RegExp("&lt;br /&gt;", 'g');
                content = content.replace(reg, "\n");
                $('textarea').val(content);
        })  
    </script>

</body>
</html>
