<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/buttons.css">
    <link rel="stylesheet" href="stylesheets/vicons-font.css">
</head>
<body>
    <a href="score_table" class="button button--aylen button--round-l button--text-thick">&emsp;SCORE</a>

    <a href="diary_table" class="button button--aylen button--round-l button--text-thick">&emsp;&nbsp;DIARY</a>

    <a href="home" class="button button--aylen button--round-l button--text-thick">test_shopping</a>
</body>
</html>
