<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/score_table.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!--<link rel="stylesheet" href="stylesheets/base.css">-->
    <link rel="stylesheet" href="/stylesheets/buttons.css">
    <link rel="stylesheet" href="stylesheets/vicons-font.css">
    <style>textarea{ font-size: 200px}</style>
</head>
<body>
    <section class="description"><h3>&1表示早上&nbsp;&nbsp;&nbsp; &2表示上午&nbsp;&nbsp;&nbsp; &3表示中午&nbsp;&nbsp;&nbsp; &4表示下午 &nbsp;&nbsp;&nbsp;&5表示晚上&nbsp;&nbsp;&nbsp;&6表示夜晚</h3></section>
    <% for(var i = 0; i<3 ; i++) { %>
   <div class="container">
       <section>
           <div class="day" id='day<%=42*i+0%>'></div>
           <div class="day" id='day<%=42*i+1%>'></div>
           <div class="day" id="day<%=42*i+2%>"></div>
           <div class="day" id="day<%=42*i+3%>"></div>
           <div class="day" id="day<%=42*i+4%>"></div>
           <div class="day" id="day<%=42*i+5%>"></div>
           <div class="day"><span>Mon</span></div>
       </section>
       <section>
           <div class="day" id="day<%=42*i+6%>"></div>
           <div class="day" id="day<%=42*i+7%>"></div>
           <div class="day" id="day<%=42*i+8%>"></div>
           <div class="day" id="day<%=42*i+9%>"></div>
           <div class="day" id="day<%=42*i+10%>"></div>
           <div class="day" id="day<%=42*i+11%>"></div>
           <div class="day"><span>Tue</span></div>
       </section>
       <section>
           <div class="day" id="day<%=42*i+12%>"></div>
           <div class="day" id="day<%=42*i+13%>"></div>
           <div class="day" id="day<%=42*i+14%>"></div>
           <div class="day" id="day<%=42*i+15%>"></div>
           <div class="day" id="day<%=42*i+16%>"></div>
           <div class="day" id="day<%=42*i+17%>"></div>
           <div class="day"><span>Wed</span></div>
       </section>
       <section>
           <div class="day" id="day<%=42*i+18%>"></div>
           <div class="day" id="day<%=42*i+19%>"></div>
           <div class="day" id="day<%=42*i+20%>"></div>
           <div class="day" id="day<%=42*i+21%>"></div>
           <div class="day" id="day<%=42*i+22%>"></div>
           <div class="day" id="day<%=42*i+23%>"></div>
           <div class="day"><span>Thu</span></div>
       </section>
       <section>
           <div class="day" id="day<%=42*i+24%>"></div>
           <div class="day" id="day<%=42*i+25%>"></div>
           <div class="day" id="day<%=42*i+26%>"></div>
           <div class="day" id="day<%=42*i+27%>"></div>
           <div class="day" id="day<%=42*i+28%>"></div>
           <div class="day" id="day<%=42*i+29%>"></div>
           <div class="day"><span>Fri</span></div>
       </section>
       <section>
           <div class="day" id="day<%=42*i+30%>"></div>
           <div class="day" id="day<%=42*i+31%>"></div>
           <div class="day" id="day<%=42*i+32%>"></div>
           <div class="day" id="day<%=42*i+33%>"></div>
           <div class="day" id="day<%=42*i+34%>"></div>
           <div class="day" id="day<%=42*i+35%>"></div>
           <div class="day"><span>Sat</span></div>
       </section>
       <section>
           <div class="day" id="day<%=42*i+36%>"></div>
           <div class="day" id="day<%=42*i+37%>"></div>
           <div class="day" id="day<%=42*i+38%>"></div>
           <div class="day" id="day<%=42*i+39%>"></div>
           <div class="day" id="day<%=42*i+40%>"></div>
           <div class="day" id="day<%=42*i+41%>"></div>
           <div class="day"><span>Sun</span></div>
       </section>
       <section>
           <div class="day">&1</div>
           <div class="day">&2</div>
           <div class="day">&3</div>
           <div class="day">&4</div>
           <div class="day">&5</div>
           <div class="day">&6</div>
       </section>
       <div class="eva">
           <label>周评价 :</label>
           <textarea id='air<%=i%>' onblur="kk()"></textarea>
       </div>
       <h2><%=15+i%>th of week</h2>
   </div>  
   <% } %>
   <button class="button button--aylen button--round-l button--text-thick">Confirm</button>
   <div class="alert">
        <p>save</p>
        <p>completed</p>
   </div>
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/score_table.js"></script>
    <script>
    //改变颜色
    $(document).ready(function() {
        $('.day').click(function(){
            var color = $(this).css('background-color');
            //点击之前先判断
            if(color == "rgb(153, 230, 255)") {
                $(this).css('background-color', '#00ace6');
            }else if(color == 'rgb(0, 172, 230)'){
                $(this).css('background-color', '#002633');
            }else{
                $(this).css('background-color', '#99e6ff');
            }    
        });
    });
    </script>

    <script>
        $(document).ready(function(){
            $('button').click(function(){
                var all = [];
                var all1 = [];
                for(var i = 0; i<3*42; i++){              //change
                    var idNum = '#day' + i;
                    var color = $(idNum).css('background-color');
                    var id = 'day' + i;
                    all.push({id: id, color: color});
                }
                for(var i = 0; i< 3; i++) {
                    var eva = $("#air" + i).val();
                    all1.push({eva_id: i,eva: eva});
                }
                var data = {my_table: all, my_eva: all1};
                //把数组包裹成对象发送出去
                $.ajax({
                   url: '/score_table',
                   type: 'POST',
                   data: data,
                   success: function(data, status) {
                       if(status == 'success') {
                            //显示成功 
                       }
                   },
                   error: function(data, err){
                            //display err
                   }
                })
            });        

            $('.alert').hide();
            $('button').click(function() {
                    $('.alert').fadeIn(2000);
                    function getOut() {
                        $(".alert").fadeOut(1000);
                    }
                    setTimeout(getOut, 2000);
            })
        });

    </script>
    <% for(var i = 0; i<42*3 ; i++) { %>
    <script>
    $(document).ready(function(){
        var id = "#<%=table[i].id%>";
        $(id).css('background-color', '<%=table[i].color%>');  
    })
    </script>
    <%}%>
    
    <% for(var i = 0; i<3; i++) { %>
    <script>
        $(document).ready(function(){
                $('#air<%=i%>').val('<%=eva_table[i].eva%>'); 
        })
    </script>
    <%}%>

    <script>
        //测试脚本
    $(document).ready(function() {
    }) 
    </script>
</body>
</html>
</html>
